[user]
	name = (MMirang)
	email = alfkd1024@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[init]
	defaultBranch = main
[i18n]
	commitEncoding = cp949
	logOutEncoding = cp949
